.footer {
    padding-bottom: 25px;
}
.footer__block {
    display: flex;
    gap: 25px;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.footer__contact-me-title {
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 700;
}
.footer__list-of-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 925px) {
    .footer__block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
